@import url('https://fonts.googleapis.com/css2?family=PT+Sans&family=Work+Sans:wght@200&display=swap');

html {
  --main-blue: #1976d2;
  --main-info: #476A6F;
  --bg-color: #AFD0D6;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Lexend', sans-serif;
  background-color: var(--bg-color);
}

.App > * {
  margin: 20px;
  display: flex;
}

.header {
  font-size: 40px;
  font-weight: 600;
  color: var(--main-blue);
}

.main {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
}

.container {
  display: flex;
  width: 80vw;
  justify-content: space-around;
}

.info-box {
  display: flex;
  flex-direction: column;
  max-width: 280px;
  color: var(--main-info);
  align-items: center;
  font-size: 18px;
}

.info-box__info {
  margin-top: 50px;
  margin-bottom: 20px;
  line-height: 1.5;
  font-weight: 400;
  font-size: 16px;
}

.info-box__text {
  margin-bottom: 12px;
}

.info-box__text > * {
  align-self: center;
}

.info-box__link {
  color: var(--main-blue);
}

.html-data {
  margin-top: 20px;
  min-height: 300px;
  display: flex;
  flex-direction: column;
}

.html-data > * {
  color: var(--main-blue);
  line-height: 2;
  align-self: flex-start;
}

/* Media 680px */

@media (max-width: 680px) {
  .container {
    flex-direction: column;
    align-items: center;
    width: initial;
  }
  .info-box {
    margin-top: 30px;
  }
}